{{ define "body-class" }}items show double{{ end }}
{{ define "main" }}
<div class="wrap">
  {{/* Pagefind result metadata: a clean title and a small thumbnail. */}}
  {{ with .Params.files }}{{ with index . 0 }}{{ with .thumb }}<span data-pagefind-meta="image[data-img]" data-img="{{ . }}"></span>{{ end }}{{ end }}{{ end }}
  <h1><span data-pagefind-meta="title">{{ .Title | safeHTML }}</span>{{ with .Params.item_type }} <small class="item-type subtitle">{{ . }}</small>{{ end }}</h1>

  {{ with .Params.files }}
    <div id="item-images">
      {{ range . }}
        {{ if and .mime (hasPrefix .mime "image/") }}
          <div class="item-file image"><a class="download-file" href="{{ .url }}"><img class="full" src="{{ or .fullsize .url }}" alt="{{ $.Title | plainify }}"></a></div>
        {{ else }}
          <div class="item-file"><a class="download-file" href="{{ .url }}">{{ or .original_filename "Download file" }}</a></div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  <div id="item-metadata">
    {{ $dc := .Params.dublin_core }}
    {{ $order := slice "Title" "Subject" "Description" "Creator" "Source" "Publisher" "Date" "Contributor" "Rights" "Relation" "Format" "Language" "Type" "Coverage" "Identifier" }}
    <div class="element-set">
      {{ range $f := $order }}
        {{ with index $dc $f }}
          <div id="dublin-core-{{ $f | urlize }}" class="element">
            <h3 data-pagefind-ignore>{{ $f }}</h3>
            {{ range . }}<div class="element-text">{{ if .html }}{{ .text | safeHTML }}{{ else }}{{ .text }}{{ end }}</div>{{ end }}
          </div>
        {{ end }}
      {{ end }}
    </div>

    {{ with .Params.item_type_metadata }}
      {{/* "Sortable Date" is admin-hidden on the live site (HideElements plugin);
           it backs the timeline but never displays publicly. */}}
      {{ $hidden := slice "sortable date" }}
      <div class="element-set">
        {{ range $f, $vals := . }}
          {{ if not (in $hidden (lower $f)) }}
            <div class="element">
              <h3 data-pagefind-ignore>{{ $f }}</h3>
              {{ range $vals }}<div class="element-text">{{ if .html }}{{ .text | safeHTML }}{{ else }}{{ .text }}{{ end }}</div>{{ end }}
            </div>
          {{ end }}
        {{ end }}
      </div>
    {{ end }}

    {{ with .Params.tags }}
      <div id="item-tags" class="element">
        <h3 data-pagefind-ignore>Tags</h3>
        <div class="element-text">{{ range $i, $t := . }}{{ if $i }}, {{ end }}<a href="/tags/{{ $t | urlize }}/" rel="tag">{{ $t }}</a>{{ end }}</div>
      </div>
    {{ end }}

    <div id="item-citation" class="element">
      <h3 data-pagefind-ignore>Citation</h3>
      <div class="element-text">{{ partial "citation.html" . }}</div>
    </div>
  </div>
</div>
{{ end }}
