{{ define "body-class" }}items browse{{ end }}
{{ define "main" }}
{{ $items := .Pages.ByTitle }}
{{ $paginator := .Paginate $items 10 }}
{{ $label := "Items" }}
{{ if eq .Data.Plural "tags" }}{{ $label = "Items tagged" }}{{ else if eq .Data.Plural "collections" }}{{ $label = "Collection" }}{{ end }}
<div class="resources">
  <p id="simple-pages-breadcrumbs">
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><a href="/">Home</a></li>
        <li><a href="/items/">Browse</a></li>
        <li><span class="current" aria-current="page">{{ .Title }}</span></li>
      </ul>
    </nav>
  </p>
  <h1>{{ $label }}: {{ .Title }} <small>({{ len .Pages }} item{{ if ne (len .Pages) 1 }}s{{ end }})</small></h1>
  {{ with .Content }}<div class="term-description">{{ . }}</div>{{ end }}
  {{ partial "browse-pagination.html" $paginator }}
  <div class="resource-list list">
    {{ range $paginator.Pages }}{{ partial "item-card.html" . }}{{ end }}
  </div>
  {{ partial "browse-pagination.html" $paginator }}
</div>
{{ end }}
