{{ $exhibit := "/exhibits/show/liberty--equality--fraternity/" }}
<header role="banner">
  <div id="site-title" class="top-bar-left">
    <a href="/"><img src="/uploads/67d23a0e4a55d8dd335ca21787ed29bf.png" alt="{{ site.Title }}"></a>
  </div>
  <nav id="primary-nav" role="navigation" class="top-bar-right" aria-label="Primary">
    <div class="title-bar" data-responsive-toggle="top-nav" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle aria-label="Open menu"><i class="fas fa-bars" aria-hidden="true"></i></button>
      <button type="button" class="search-toggle button" aria-label="Toggle search"><i class="fas fa-search" aria-hidden="true"></i></button>
    </div>
    <ul id="top-nav" class="horizontal menu" data-responsive-menu="accordion medium-dropdown">
      <li><a class="nav-header" href="{{ $exhibit }}">Explore</a></li>
      <li><a class="nav-header" href="/items/">Browse</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true">About <b class="caret"></b></a>
        <ul class="menu vertical">
          <li><a href="/project-history/">Project History</a></li>
          <li><a href="/faq/">FAQ</a></li>
        </ul>
      </li>
      <li><a class="nav-header" href="https://ageofrevolutions.com/">Age of Revolutions</a></li>
    </ul>
  </nav>

  <div id="search-container" role="search" class="open">
    <form id="search-form" name="search-form" class="grid-x" action="/search/" method="get">
      <input type="text" name="query" id="query" value="" title="Search" placeholder="Search" class="cell large-11">
      <div id="advanced-form">
        <fieldset id="query-types">
          <legend class="show-for-sr">Search using this query type:</legend>
          <label><input type="radio" name="query_type" id="query_type-keyword" value="keyword" checked>Keyword</label><label><input type="radio" name="query_type" id="query_type-boolean" value="boolean">Boolean</label><label><input type="radio" name="query_type" id="query_type-exact_match" value="exact_match">Exact match</label>
        </fieldset>
        <fieldset id="record-types">
          <legend class="show-for-sr">Search only these record types:</legend>
          <input type="checkbox" name="record_types[]" id="record_types-Item" value="Item" checked> <label for="record_types-Item">Item</label>
          <input type="checkbox" name="record_types[]" id="record_types-Exhibit" value="Exhibit" checked> <label for="record_types-Exhibit">Exhibit</label>
          <input type="checkbox" name="record_types[]" id="record_types-Page" value="Page" checked> <label for="record_types-Page">Page</label>
        </fieldset>
        <p><a href="/items/">Advanced Search (Items only)</a></p>
      </div>
      <button name="submit_search" id="submit_search" type="submit" value="Search" class="cell large-1">Search</button>
    </form>
  </div>
</header>
