{{ define "body-class" }}exhibits summary{{ end }}
{{ define "main" }}
{{ $ordered := .Pages.ByWeight }}
<div class="grid-x">
  <nav id="exhibit-pages" class="cell small-12 medium-2" aria-label="Exhibit contents">
    <div class="exhibit-tree-container">
      <ul id="section-nav">
        {{ range $ordered }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </nav>

  <div id="exhibit-content" class="cell small-12 medium-8 medium-offset-1">
    <h1>{{ .Title }}</h1>
    {{ with .Content }}<div class="exhibit-description">{{ . }}</div>{{ end }}
    {{ with .Params.credits }}<div class="exhibit-credits">{{ . | safeHTML }}</div>{{ end }}
  </div>
</div>
{{ end }}
